@import "tailwindcss";

@theme {
  --color-primary: #FFB800;
  --color-secondary: #F5F5F5;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-black font-sans transition-colors duration-300;
  }
}

.dark body {
  @apply bg-gray-950 text-gray-100;
}

.dark .bg-white {
  @apply bg-gray-900 border-gray-800!;
}

.dark .text-gray-900 {
  @apply text-white;
}

.dark .text-gray-400 {
  @apply text-gray-500;
}

.dark .bg-gray-50 {
  @apply bg-gray-800/50;
}

.dark .border-gray-100 {
  @apply border-gray-800;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
